<h1>Your question</h1>

<div class="form-group">
  <p>Ask you coach anything</p>
  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask">
  </form>
</div>
